{% extends "layout.html" %}

{% block title %}
    Welcome
{% endblock %}

{% block main %}
    <h1>Avalanches</h1>
    <p>Avalanches are a serious threat when skiing. Serious caution should always be taken when entering the mountains. Watch Xavier Delerue talk about his experinece of 
        being caught in an avalanche. Use this website to search the Avalanche risk in your area</p>
    <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" width="600" height="345" src="https://www.youtube.com/embed/gYW9TfGgLhQ"></iframe>
    </div>          
{% endblock %}